/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.0/font/bootstrap-icons.min.css");

.title-style {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.first-title {
  background-color: #F73875; 
  padding: 0 10px;
}

#que-aprenderas-section {
  margin: 40px auto;
  width: 60%;
}

.tus-hijos {
  width: 100%; 
  margin: auto
}

@media screen and (min-width: 800px) {
  .main-title {
    margin-top: -60px;
  }  
  .hero-img {
    width: 400px;
  }
  .divertirnos-title h1, .divertirnos-title .video-demo {
    margin-top: 70px;
  }

  .first-block {
    text-align: center;
    width: 70%;
    margin: 150px auto 0px;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {
  .main-title {
    padding-top: 20px;
  } 
  
  .container-hero-img {
    margin-top: 35px;

  }

  .card-first {
    margin-bottom: 100px ;
  }

  .first-block {
    width: 80%;
    margin: 80px auto 0px;
  }

  .first-block hr {
    display: none;
  }

  .divertirnos-title h1 {
    margin-top: 70px;
  }

  #que-aprenderas-section {
    margin: 0px auto;
    width: 80%;
  }

  .tus-hijos {
    /* text-align: center;  */
    margin: auto;
    width: 100%;
  }

  .como {
    margin-top: 30px
  }
}
